doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Server side scripting
  body
    h1 Hello World
    include partials/nav.pug
    if tekst
      i #{tekst}
    if tekst2
      // Ikke renderet medmindre tekst2 eksisterer
      p #{tekst2}
    if num
      p #{num}
    if isTrue
      p #{isTrue}
    if arr
      each val in arr
        p= val
    strong Id: #{id}
    form(method="post")
      input(name="text")
      br
      input(name="num" type="number")
      br
      input(name="isTrue", type="checkbox")
      br
      button(type="submit") SEND