mixin game(game)
  .game
    .fields
      each val, key in game
        unless key === '_id' || key === 'releaseDateInpStr' || key === 'coverImg'
          - const capitalKey = key[0].toUpperCase() + key.slice(1);
          span.key #{capitalKey}:
          if key === 'title'
            a.val(href=`/${game._id}`) #{val}
          else
            span.val #{val}
    if game.coverImg
      img(src=`images/${game.coverImg}`)