h1 Hello World
include partials/nav.pug

//- if tekst
//-   i #{tekst}

//- if tekst2
//-   p #{tekst2}

//- if num
//-   p #{num}

//- if isTrue
//-   p #{isTrue}

//- if arr
//-   each val in arr
//-     p= val

//- strong Id: #{id}
form(method="post")
  input(name="text", value=tekst)
  if (error && error.noText)
    p Du skal indtaste noget
  br
  input(name="num", type="number", value=num)
  if (error && error.noNum)
    p Du skal indtaste et tal større end nul
  br
  input(name="isTrue", type="checkbox", checked=isTrue)
  if (error && error.notTrue)
    p Du skal hakke checkboksen af
  br
  button(type="submit") SEND
